<!-- <ion-header>
  <ion-toolbar>
      <ion-title size="large">Matchs</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor ="let person of persons">
  <ion-list >
    <ion-item lines="full">
      <ion-button slot="start" size="small" fill="clear">
        Listes de diffusion
      </ion-button>
      <ion-button slot="end" size="small" fill="clear">
        Nouveau groupe
      </ion-button>
    </ion-item>

    <ion-item detail routerLink="/chat">
      <ion-avatar slot="start" >
        <img src="../../assets/avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>{{person.name}}</h3>
        </div>
        <p> Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>

    <ion-item detail routerLink="/chat">
      <ion-avatar slot="start">
        <img src="../../assets/avatar-han.jpg">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Han Solo</h3>
        </div>
        <div class="flex_box">
          <p>I've got enough on my plate...</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item detail routerLink="/chat">
      <ion-avatar slot="start">
        <img src="../../assets/avatar-rey.jpg">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Rey</h3>
          </div>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>

    <ion-item detail routerLink="/chat">
      <ion-avatar slot="start">
        <img src="../../assets/avatar-luke.jpeg">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Luke Skywalker</h3>
        </div>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item> 
  </ion-list> 

</ion-content> -->


<ion-header>
  <ion-toolbar>
      <ion-title size="large">Matchs</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content *ngFor ="let person of persons">
  <ion-list >
    <ion-item detail routerLink="/chat" (click) = "goToRoom(person.id)" >
      <ion-avatar slot="start" >
        <img src="{{person.img}}">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>{{person.name}}</h3>
        </div>
        <p><ion-icon class="text-icon" color="primary" name="done-all"></ion-icon> Cliquez pour accéder à la conversation</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item detail routerLink="/chat">
      <ion-avatar slot="start">
        <img src="../../assets/avatar-han.jpg">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Han Solo</h3>
        </div>
        <div class="flex_box">
          <p>I've got enough on my plate...</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item detail routerLink="/chat">
      <ion-avatar slot="start">
        <img src="../../assets/avatar-rey.jpg">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Rey</h3>
          </div>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>

    <ion-item detail routerLink="/chat">
      <ion-avatar slot="start">
        <img src="../../assets/avatar-luke.jpeg">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Luke Skywalker</h3>
        </div>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item> -->



  

  </ion-list>

</ion-content>