<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Matchs"></ion-back-button>
    </ion-buttons>
    <ion-title>Alexis Ren<br><div class="status">En ligne</div></ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/alexis-ren.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor ="let msg of messages">
  <div class="bg"></div>

    <ion-item lines="none" *ngIf = "msg.id_usr == 0"  >
      <ion-badge color="warning" slot="end">{{msg.msg_text}} <ion-note color="medium"> <ion-icon name="done-all"></ion-icon></ion-note></ion-badge>
    </ion-item>

    <ion-item lines="none" *ngIf = "msg.id_usr != 0" >
      <ion-badge color="light" slot="start">{{msg.msg_text}}<ion-note color="medium"></ion-note></ion-badge>
    </ion-item>

  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Votre message"></ion-input>
    <ion-buttons slot="end">
      <ion-button >
        Envoyer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>