<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Matchs"></ion-back-button>
    </ion-buttons>
    <ion-title>Alexis Ren<br><div class="status">En ligne</div></ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/alexis-ren.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg"></div>

  <ion-item lines="none">
    <ion-badge color="warning" slot="end">Listen, I've had a pretty messed up day...<ion-note color="medium">21:16 <ion-icon name="done-all"></ion-icon></ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">It's over baby <ion-note color="medium">21:17</ion-note></ion-badge>
  </ion-item>

  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Votre message"></ion-input>
    <ion-buttons slot="end">
      <ion-button >
        Envoyer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>