<div class="registrationPage">

  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Prénom</ion-label>
          <ion-input type="text" required [(ngModel)]="this.userInfos.firstname" name="firstname"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Âge</ion-label>
          <ion-input type="number" max="150" min="18" required [(ngModel)]="this.userInfos.age" name="age"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Genre</ion-label>
          <ion-select required [(ngModel)]="this.userInfos.gender" name="gender">
            <ion-select-option value="boy">Garçon</ion-select-option>
            <ion-select-option value="girl">Fille</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Login</ion-label>
          <ion-input type="text" required [(ngModel)]="this.login" name="login"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required [(ngModel)]="this.userInfos.email" name="email"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" required [(ngModel)]="this.password" name="password"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Ville</ion-label>
          <ion-input type="text" required [(ngModel)]="this.userInfos.boxCity" name="boxCity"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Job</ion-label>
          <ion-input type="text" required [(ngModel)]="this.userInfos.job" name="job"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Bio</ion-label>
          <ion-input type="text" required [(ngModel)]="this.userInfos.biography" name="biography"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click) = "userRegister()">S'inscrire</ion-button>
          </ion-col>
        </ion-row>
      </form>
  </ion-content>
</div>