<div class="homePage">

  <ion-header>
      <ion-toolbar>
        <ion-title>
          Bienvenue sur CrossfitLove
        </ion-title>
      </ion-toolbar>
    </ion-header>

      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button [routerLink]="['/registration']" expand="block" color="primary">Inscription</ion-button>
            <ion-button [routerLink]="['/login']" expand="block" color="danger">Connexion</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>